<div class="header">
    <div class="flexrow search-container"></div>
    <div class="size-slider-container flexrow">
        <label class="flex0">Grid Size</label>
        <range-picker
            class="size-range-picker"
            name="size"
            min="0"
            value="{{gridSize}}"
            max="100"
            step="1"
        ></range-picker>
       
    </div>
    <section class="collapsible-filters {{#if headerCollapsed}}collapsed{{/if}}">
        <div class="filter-sections-header">
            <a data-action="toggleHeader">
                <i class="fa-solid fa-caret-down toggle-icon"></i>
            </a>
        </div>

        <div class="filter-sections-wrapper">
        </div>
        
    </section>
</div>