<div class="header">
    <div class="flexrow search-container"></div>
    
    <section class="collapsible-filters {{#if headerCollapsed}}collapsed{{/if}}">
        <div class="filter-sections-header">
            <a data-action="toggleHeader">
                <i class="fa-solid fa-caret-down toggle-icon"></i>
            </a>
        </div>

        <div class="filter-sections-wrapper">
        </div>
        
    </section>
</div>