<section class="interactions-containers">
    <a class="sidebar-toggle fa-solid fa-caret-right" data-action="toggleSidebar"></a>
    <a class="result-view-toggle" data-action="toggleResultView">
        <i class="icon fa-solid fa-list {{ifThen isList "active" ""}}"></i>
        <i class="icon fa-solid fa-grid {{ifThen isList "" "active"}}"></i>
    </a>
</section>