.tcr-main-module {
  --hud-black-01: rgba(0, 0, 0, 0.1);
  --hud-black-03: rgba(0, 0, 0, 0.3);
  --hud-black-05: rgba(0, 0, 0, 0.5);
  --hud-white-01: rgba(255, 255, 255, 0.1);
  --hud-white-03: rgba(255, 255, 255, 0.3);
  --hud-white-05: rgba(255, 255, 255, 0.5);
  --hud-green-05: rgba(0, 255, 0, 0.5);
  --hud-green-1: rgba(0, 255, 0, 1);

  --hud-blue: #246ab9;
  --hud-red: #b92e24;


  --wow-gold: #c79c6e;
  --wow-gold-bright: #fcd6a0;
  --wow-panel-bg: rgba(20, 15, 25, 0.75);
  --wow-panel-border: rgba(199, 156, 110, 0.3);
  --wow-glow: 0 0 15px rgba(199, 156, 110, 0.2);

  --bg-dark: #121212;
  --card-bg: #1e1e1e;
  --accent-gold: #c2a373;
  --text-main: #e0e0e0;
  --text-dim: #888;

  &.application {
    --color-text-primary: var(--dnd5e-color-blue-white);
    --background: var(--color-cool-5-90);
  }


  .flex1 {
    flex: 1;
  }

  .grid-table {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;

    .grid-header,
    .grid-row {
      display: grid;
      align-items: center;

      .span-2 {
        grid-column: span 2;
      }

      .span-3 {
        grid-column: span 3;
      }
    }

    .grid-body {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .col-actions {
      text-align: center;

      .icon-button {
        font-size: var(--font-size-14);
        color: #777;
      }
    }
  }

  .grid {
    display: grid;
    grid-gap: 10px;
  }

  .grid-2col {
    grid-template-columns: 1fr 1fr;
  }

  .score-anchor {
    transition: 0.3s color ease, 0.3s opacity ease;
    color: var(--hud-white-03);

    &:hover,
    &.active {
      color: var(--hud-red);

      &.up {
        color: var(--hud-blue);
      }
    }

    &:hover {
      opacity: 1;
      text-shadow: 0 0 8px var(--hud-red);

      &.up {
        text-shadow: 0 0 8px var(--hud-blue);
      }
    }

    &.active {
      opacity: 0.8;
    }
  }

  .tooltip-filter-menu {
    margin: 0 2px;
    display: flex;
    align-items: center;
    gap: 10px;

    select {
      color: var(--input-text-color);

      option {
        background-color: var(--input-background-color);
      }
    }
  }

  .editor.prosemirror.active {
    resize: vertical;

    .editor-content.ProseMirror {
      margin-bottom: 15px;
      overflow: hidden auto;
    }
  }

  .background-container {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    .bg-layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 0.8s ease-in-out;
    }
  }


  &.hud-config {
    a.fa-regular:hover {
      font-weight: bold;
    }

    .accordion-container {
      border-radius: 4px;
      background: var(--card-bg);
      margin-top: 10px;
      border: 1px solid var(--hud-white-01);
      overflow: hidden;

      &.expanded {
        .accordion-content {
          grid-template-rows: 1fr;
          padding: 10px;
        }

        .accordion-header .icon {
          transform: rotate(-180deg);
        }
      }
    }

    .accordion-header {
      align-items: center;
      gap: 0.4rem;
      padding: 4px 8px;
      cursor: default;

      .drag-span {
        padding: 10px 1px;
        border-left: 3px dotted white;
        border-right: 3px dotted white;
        opacity: 0.3;
        cursor: grab;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
        }
      }

      .icon {
        transition: transform 0.3s ease;
      }

      input {
        background-color: var(--hud-black-01);
        transition: all 300ms;
        font-size: var(--font-size-16);

        &:hover {
          background-color: var(--hud-black-05);
        }
      }
    }

    .accordion-content {
      background: var(--hud-black-03);
      display: grid;
      grid-template-rows: 0fr;
      transition: all 0.3s ease;

      >.wrapper {
        overflow: hidden;
        margin-top: 5px;
        min-height: 0;

        .form-group {
          margin: 2px;
        }
      }

      .tab-buttons-container {
        margin: 0 5px;
        padding: 10px;
        background-color: var(--hud-black-03);
        border: 1px solid var(--hud-white-01);
      }
    }

    label {
      font-weight: bold;
      font-size: var(--font-size-13);
    }

    .visibility-container {
      border: 1px solid var(--hud-white-01);
      border-radius: 4px;
      padding: 5px 10px;

      .visibility-header {
        padding: 0 2px;
        border-bottom: 1px solid;
        font-size: var(--font-size-15);
      }

      .form-group .form-fields {
        flex: 0;
      }

      .bottom-border {
        border-bottom: 1px solid var(--hud-white-01);
      }
    }

    .segment {
      margin: 2px;
      gap: 5px;

      &:hover {
        background: var(--hud-black-01);
      }

      .segment-name {
        font-size: var(--font-size-15);
      }

      .segment-anchor {
        font-size: var(--font-size-12);
      }
    }

    .segments-header {
      justify-content: center;
      padding-bottom: 2px;
      margin-bottom: 2px;
      border-bottom: 1px solid;

      span.title {
        font-size: var(--font-size-16);
        font-weight: bold;
      }
    }

    .form-footer {
      display: flex;
      gap: 5px;
      flex-wrap: nowrap;
      margin-top: 5px;
    }
  }

  &.sources-config {
    background: var(--card-bg);
    border: 1px solid var(--hud-white-01);

    .sources-grid {

      .grid-header,
      .grid-row {
        grid-template-columns: minmax(0, 150px) 1fr 50px 40px;
        gap: 5px;
      }

      .grid-header {
        height: 2rem;
        font-weight: bold;
        border-bottom: 1px solid #777;
        padding-bottom: 5px;
        margin-bottom: 5px;

        >* {
          border-right: 1px solid #777;
        }
      }

      .grid-row {

        input,
        select {
          width: 100%;
          margin: 0;
          text-overflow: ellipsis;

          &::placeholder {
            opacity: 0.5;
          }
        }

        .col-draggable {
          display: flex;
          align-items: center;
          justify-content: center;

          input {
            width: auto;
          }
        }
      }

      .add-row {
        border-top: 1px solid var(--hud-white-01);
        padding-top: 5px;
      }
    }

  }

  &.main-hud {

    .window-header {
      background: none;
      border: none;
      flex: 0 0 25px;

      .window-title {
        opacity: 0;
      }

      .login-status {
        pointer-events: none;
        display: inline-flex;
        align-items: flex-end;
        height: 25px;
        opacity: 0.7;
        transition: all 0.3s ease;
        cursor: inherit;

        i {
          padding-right: 3px;
          padding-bottom: 1px;
        }

        &:hover {
          opacity: 1;
          text-shadow: 0 0 5px var(--color-dark-1);
        }
      }

      button.header-control {
        align-items: flex-end;
        z-index: 1;
        opacity: 0.5;
        box-shadow: none;
        transition: opacity 300ms;

        &[data-action="close"] {
          color: red;
        }

        &:hover {
          opacity: 1;
        }
      }
    }


    .window-content {
      padding-top: 0;
      backdrop-filter: blur(0px);
    }

    .tab-container {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      position: relative;
      flex: 1;

      .tab[data-tab] {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.8s ease;

        &.active {
          opacity: 1;
          pointer-events: all;
          position: relative;
        }

      }

      &.show-grid .grid-container {
        &::before {
          opacity: 1;
        }

        >.segment {
          outline-color: var(--hud-green-1);
          background-color: rgba(0, 255, 0, 0.05);

          &::after {
            color: var(--hud-green-05);
          }
        }

        .cell {
          opacity: 1;
        }
      }
    }

    .hud-tabs {
      margin: 4px 0;
      padding: 0;
      list-style: none;
      text-align: center;
      text-transform: uppercase;
      justify-content: flex-start;
      position: relative;
      text-shadow: 0 0 10px light-dark(var(--color-dark-1), var(--color-light-1));
      flex-wrap: wrap;

      a {
        margin: 0 10px;
        margin-bottom: 0;
        line-height: 20px;
        text-decoration: none;
        padding: 2px 5px;
        position: relative;
        text-wrap: nowrap;

        &:after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: var(--color-text-primary);
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }

        &:hover:after,
        &.active:after {
          width: 100%;
          left: 0;
        }
      }

      .background-blur {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: var(--hud-black-01);
        filter: blur(5px);
      }
    }

    .grid-container {
      display: grid;
      justify-content: center;
      align-content: start;
      position: relative;
      grid-template-columns: repeat(var(--hud-columns), minmax(0, 1fr));
      grid-template-rows: repeat(var(--hud-rows), minmax(0, 1fr));
      max-height: 100%;
      gap: 5px;

      .cell {
        display: flex;
        align-items: center;
        justify-content: center;

        container-type: size;
        overflow: hidden;
        pointer-events: visible;
        opacity: 0;
        border: 1px solid var(--hud-white-03);
        z-index: 2;
        text-shadow: 0 0 10px light-dark(var(--color-dark-1), var(--color-light-1));
        transition: opacity 0.3s ease;

        span {
          font-size: clamp(2px, 35cqmin, 30cqh);
          white-space: nowrap;
          text-align: center;
        }
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border: 1px solid var(--hud-white-03);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      >.segment {
        position: relative;
        outline: 1px dashed transparent;
        transition: outline-color 0.3s, background-color 0.3s;

        &::after {
          content: "Segment";
          position: absolute;
          top: 2px;
          left: 2px;
          font-size: 10px;
          color: rgba(0, 0, 0, 0);
          transition: color 0.3s ease-in-out;
          pointer-events: none;
        }
      }

    }

    .dynamic-part {
      height: 100%;

      .content {
        height: 100%;
      }

      .segment {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border: var(--border-width, 0px) solid var(--wow-panel-border);
        border-radius: 4px;
        box-shadow: 0 0 20px var(--hud-black-05), var(--wow-glow);
        transition: transform 300ms ease, box-shadow 300ms ease, border-color 300ms ease;
        padding: 5px;
        background-color: var(--bg-color, rgba(0, 0, 0, 0.5));
        container-type: size;

        &::before {
          margin: 5px;
          pointer-events: none;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: var(--bg-image, none);
          opacity: var(--bg-opacity, 1);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          z-index: -1;
          transition: opacity 300ms ease;
        }

        .wrappler {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          text-align: center;
          font-size: var(--font-size);
        }

        &:hover {
          border-color: var(--wow-gold-bright);
          box-shadow: 0 10px 15px -3px var(--hud-black-03), var(--wow-glow);

          &.clickable {
            cursor: pointer;
            transform: translateY(-2px) scale(1.02);
          }

          &::before {
            opacity: 1;
          }
        }
      }
    }

    .fixed-buttons {
      position: fixed;
      bottom: 0;
      right: 0;

      a.fixed-anchor {
        width: 1.5em;
        height: 1.5em;
        font-size: var(--font-size-18);
        opacity: 0.5;
        transition: all 300ms;

        &.active,
        .show-grid& {
          font-weight: bold;
          opacity: 1;
        }

        &:hover {
          transform: scale(1.1);
          opacity: 1;

          &.active,
          .show-grid& {
            font-weight: normal;
          }

          &:not(.active) {
            font-weight: bold;
          }
        }
      }
    }

    .bug-tracker.tab {
      overflow: hidden;
      flex-direction: column;
      display: flex !important;
      flex: 1;

      .bug-tracker-header {
        gap: 10px;

        .header-top-row {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 15px;

          .toggle-buttons {
            display: flex;
            align-items: center;
            border-radius: 4px;
            padding: 2px;
            position: relative;
            background: var(--card-bg);
            cursor: pointer;

            .btn {
              text-wrap: nowrap;
              color: #e0d1b1;
              padding: 7px 15px;
              font-size: 1rem;
              border-radius: 4px;
              position: relative;
              transition: color 0.3s ease;
              z-index: 2;

              &.active {
                color: #111;
              }
            }

            .selection-pill {
              position: absolute;
              top: 3px;
              left: 3px;
              height: calc(100% - 6px);
              width: calc(50% - 2px);
              background: #c1a36b;
              box-shadow: 0 0 5px 2px rgba(193, 163, 107, 0.4);
              transition: transform 0.3s ease;
              transform: translateX(0);
              z-index: 1;

              &.active {
                transform: translateX(100%);
              }
            }

            .separator-circle {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              z-index: 3;
              pointer-events: none;

              width: 22px;
              height: 22px;
              border-radius: 50%;
              background: #333;
              color: #fff;
              font-size: 12px;
              font-weight: bold;
              pointer-events: none;
              padding-bottom: 3px;
            }

          }
        }

        .btn-new-ticket {
          flex: 0;
          padding-top: 2px;
          padding-bottom: 2px;
          text-wrap: nowrap;
          font-size: 1.2rem;
          background: var(--accent-gold);
          border: 1px solid #444;
          color: var(--card-bg);
          transition: all 0.3s ease;

          &:hover {
            color: #e0d1b1;
            background: var(--card-bg);
          }
        }

        .search-container {
          flex: 1;

          .search {
            display: flex;
            align-items: center;
            border-radius: 4px;
            box-shadow: inset 0 0 0 1px var(--hud-white-01);
            border: 1px solid #444;
            position: relative;

            >input[type="text"] {
              flex: 1;
              background: none;
              border: none;
              padding: 0.5rem;
              font-size: var(--font-size-14);
              height: unset;
              line-height: 1;
              font-family: var(--dnd5e-font-roboto);
            }
          }

        }

      }

      .stats-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;

        .stat-card {
          padding: 5px;
          height: 100%;
          box-shadow: inset 0 0 0 1px var(--hud-white-01);
          background: #1c1c1c;
          transition: background-color 0.3s ease;

          .stat-time {
            flex: 0 0 auto;
            font-size: 1rem;
            font-weight: bold;
          }

          .value {
            font-size: 1.3rem;

            i {
              font-size: 0.8rem;
            }
          }

        }
      }

      .bug-tracker-container {
        overflow: hidden;
        flex: 1;
        gap: 0;

        .grid-header,
        .grid-row {
          text-align: center;
          grid-template-columns: 45px 50px 1fr 45px 2fr 1fr 1fr;
        }

        .grid-header {
          flex: 0 0 auto;
          height: 2rem;
          margin-bottom: 0;
          font-weight: bold;
          font-size: var(--font-size-14);
          color: var(--accent-gold);

          >div {
            text-wrap: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;

            .filter-icon {
              font-size: var(--font-size-10);
              color: white;
              transition: 0.3s opacity ease;

              &.inactive {
                opacity: 0.3;
              }
            }

            &[data-action] {
              cursor: pointer;

              &:hover {
                text-shadow: 0px 0px 1px var(--hud-white-05);
              }
            }

          }
        }

        .grid-body {
          --color-scrollbar: var(--wow-panel-border);
        }

        .grid-row {
          cursor: pointer;
          position: relative;

          .col-summary {
            font-size: var(--font-size-20);
            color: var(--accent-gold);
          }

          .issue-icon {
            margin: 0 5px;
            font-size: var(--font-size-16);
          }

          .controls {
            position: absolute;
            right: 0;
            opacity: 0;
            transition: 0.3s opacity ease 0.5s;
            pointer-events: none;
          }


          &:hover {
            background: rgb(37, 37, 37);

            .controls {
              width: auto;
              opacity: 1;
              pointer-events: inherit;
            }
          }

          .col-issueType i {
            margin: 0 5px;
          }

          >div {
            margin: 5px 1px;
            padding: 0 5px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: inset 0 0 0 1px var(--hud-white-01);
            background: #1c1c1c;
            transition: background-color 0.3s ease;

            &:last-child {
              border-right: none;
            }
          }

          .col-last-modified {
            .time-label {
              font-size: var(--font-size-12);
              color: var(--hud-white-05);
            }
          }
        }

        .chips {
          gap: 5px;
          justify-content: start;

          .chip {
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            height: 20px;
            border-radius: 11px;
            padding: 0 5px;
            gap: 5px;
            color: var(--color-light-2);
            background: var(--hud-black-03);
            border: 1px solid black;

            span,
            i {
              line-height: 12px;
              font-size: var(--font-size-12);
              text-transform: uppercase;
            }
          }
        }
      }
    }

  }

  &.compendium-browser {

    .filter-range {
      margin: 0;
      min-width: 150px;

      .form-fields {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        border: 1px solid var(--dnd5e-color-blue-gray-2);

        input[type="number"] {
          background: transparent;
          border: none;
          color: white;
          text-align: center;
          width: 100px;
          font-size: var(--font-size-12);

          &:focus {
            box-shadow: none;
            color: var(--dnd5e-color-gold);
          }
        }

        span.sep {
          color: var(--dnd5e-color-gold);
          font-size: 15px;
        }
      }
    }

    .type-tag {
      background: var(--dnd5e-color-blue-gray-2);
      border: 1px solid black;
      border-radius: 3px;
      margin: 1px;
      cursor: pointer;
      font-family: var(--dnd5e-font-roboto-condensed);
      font-size: var(--font-size-14);
      text-wrap: nowrap;
      transition: background 0.2s ease, box-shadow 0.2s ease;

      span {
        color: var(--dnd5e-color-blue-white);
        pointer-events: none;
      }

      i {
        color: var(--dnd5e-color-blue-white);
        pointer-events: none;
      }

      label {
        padding: 2px 8px;
        cursor: inherit;
        display: block;
      }

      &:hover {
        box-shadow: 0 0 5px var(--hud-blue);
      }

      &.active,
      &.locked {
        background: var(--hud-blue);
        color: black;

        span {
          color: black;
          font-weight: bold;
        }

        i {
          color: black;
        }
      }

      &.locked {
        opacity: 0.7;
        cursor: default;
        border-style: dashed;

        label {
          cursor: default;
        }
      }
    }

    filter-state {
      --filter-state-size: 0px;
      margin: 0;
      overflow: hidden;
    }

    .stateful-tag {
      &:has(.indicator[data-value="1"]) {
        background-color: var(--hud-blue);
        border-color: black;

        span {
          font-weight: bold;
          color: black;
        }
      }

      &:has(.indicator[data-value="-1"]) {
        background-color: var(--hud-red);
        border-color: black;

        span {
          color: black;
          font-weight: bold;
        }
      }
    }

    .window-content {
      margin-top: 0;
      padding-top: 0;
      background: none !important;
      display: block;
      transition: all 0.3s ease;
      overflow: auto;
      --color-scrollbar: var(--wow-panel-border);
      padding-right: 5px;

      .search-part {
        search {
          background-color: var(--dnd5e-color-blue-gray-2);
        }
      }

      .header {
        font-family: var(--dnd5e-font-roboto-condensed);

        .collapsible-filters {
          display: flex;

          .filter-sections-header {
            font-size: var(--font-size-20);
            color: var(--dnd5e-color-gold);
            padding: 5px;
            background-color: var(--hud-black-03);
          }

          .toggle-icon {
            transition: transform 0.3s ease;
          }

          .filter-sections-wrapper {
            flex: 1;
            padding-right: 10px;
          }

          &.collapsed {
            .filter-sections-wrapper {
              margin-left: 5px;
              display: flex;
              align-items: center;
              gap: 5px;
            }

            .toggle-icon {
              transform: rotate(-90deg);
            }

            .header-part {
              gap: 5px;
              display: flex;
            }
          }

          .padding-part {
            padding: 5px 8px;

            &:not(:first-child) {
              border-top: 1px solid var(--dnd5e-color-gold);
            }
          }

          .filter-part .filter {
            border-top: 1px solid var(--dnd5e-color-gold);
            padding: 5px 8px;

            &.collapsed {
              .filter-counters {
                opacity: 1;
              }
            }
          }

          .filter-header {
            display: flex;
            align-items: center;
            gap: 5px;

            label {
              flex: 1;
              display: flex;
              align-items: center;
              gap: 8px;
              cursor: pointer;
              color: var(--dnd5e-color-gold);

              span {
                font-weight: bold;
                letter-spacing: 0.05em;
              }
            }

            .filter-counters {
              font-size: 1rem;
              opacity: 0;
              transition: opacity 300ms;
              font-weight: bold;
              font-family: var(--font-primary);

              .pos {
                color: var(--hud-blue);
                margin: 0 1px;
              }

              .neg {
                color: var(--hud-red);
              }
            }

            .logic-group {
              gap: 5px;
              padding: 2px 0;

              .logic-btn {
                font-size: var(--font-size-10);
                line-height: 8px;
                width: 30px;

                &.pos {
                  border-color: var(--hud-blue);
                  color: var(--hud-blue);

                  &:hover {
                    color: white;
                    background-color: var(--hud-blue);
                  }
                }

                &.neg {
                  border-color: var(--hud-red);
                  color: var(--hud-red);

                  &:hover {
                    color: white;
                    background-color: var(--hud-red);
                  }
                }

              }
            }
          }

          .filter-tag-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;
          }
        }

        .size-slider-container {
          justify-content: end;
          gap: 15px;
          margin: 3px 15px 0 15px;
          opacity: 0.3;
          transition: opacity 0.3s ease;

          &:hover {
            opacity: 1;
          }

          label {
            font-family: var(--dnd5e-font-roboto-condensed);
            font-size: var(--font-size-14);
            text-wrap: nowrap;
            color: var(--dnd5e-color-blue-white);
          }

          .size-range-picker {
            flex: 0 0 10rem;

            input[type=number] {
              --input-height: 1.5rem;
              font-size: 1rem;
              background: transparent;
              border-color: transparent;
              color: var(--color-light-1);
            }

            input[type="range"] {
              --range-thumb-background-color: var(--dnd5e-color-card);
              --range-thumb-border-color: var(--dnd5e-color-gold);
              --range-track-border-color: var(--hud-white-01);
              border: none;

              /* Hover & Focus States */
              &:not([disabled]) {

                &:hover,
                &:focus-visible {
                  --range-track-border-color: var(--dnd5e-color-gold);

                  &::-moz-range-track {
                    box-shadow: 0 0 6px var(--dnd5e-color-gold);
                  }

                  &::-webkit-slider-runnable-track {
                    box-shadow: 0 0 6px var(--dnd5e-color-gold);
                  }
                }
              }

              /* Shared Transitions */
              &::-moz-range-thumb,
              &::-moz-range-track,
              &::-webkit-slider-thumb,
              &::-webkit-slider-runnable-track {
                transition: all 250ms ease;
              }

              /* Thumb Styling */
              &::-moz-range-thumb {
                border-radius: 100%;
                box-shadow: 0 0 3px var(--dnd5e-shadow-45);
                background-color: var(--range-thumb-background-color);
                border: 1px solid var(--range-thumb-border-color);
              }

              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                border-radius: 100%;
                box-shadow: 0 0 3px var(--dnd5e-shadow-45);
                background-color: var(--range-thumb-background-color);
                border: 1px solid var(--range-thumb-border-color);
              }

              /* Track Styling */
              &::-moz-range-track {
                border: 1px solid var(--range-track-border-color);
                box-shadow: none;
              }

              &::-webkit-slider-runnable-track {
                border: 1px solid var(--range-track-border-color);
                box-shadow: none;
              }
            }
          }
        }

      }

      .items-section .header.items-header {
        display: none;
      }

      .items-section.card {
        background: transparent;
        box-shadow: none;
      }

      ol.item-list {
        transition: all 0.3s;
        display: grid;
        grid-template-columns: repeat(auto-fill, var(--grid-size, 180px));
        justify-content: center;
        gap: 12px;
        padding: 10px;
        list-style: none;

        .item.grid-card {
          display: flex;
          flex-direction: column;
          height: 100%;
          background: rgba(0, 0, 0, 0.2);
          border: 1px solid var(--dnd5e-color-gold);
          border-radius: 5px;
          overflow: hidden;
          transition: transform 0.3s ease, box-shadow 0.3s ease;

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
            background: rgba(0, 0, 0, 0.3);
          }

          .card-image-wrapper {
            position: relative;
            width: 100%;
            aspect-ratio: 1 / 1;
            background: rgba(255, 255, 255, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
              aspect-ratio: 1 / 1;
              width: 100%;
              height: 100%;
              object-fit: contain;
              border: none !important;
            }
          }
        }
      }

      .card-content {
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        flex-grow: 1;
        text-align: center;

        .title {
          font-size: var(--font-size-13);
          font-weight: bold;
          display: block;
          line-height: 1.2;
          color: var(--dnd5e-color-blue-white);
        }

        .subtitle {
          font-size: var(--font-size-10);
          opacity: 0.7;
          display: block;
          color: var(--dnd5e-color-blue-white);
        }

        .item-source {
          margin-top: auto;
          font-size: var(--font-size-10);
          border-top: 1px dotted var(--dnd5e-color-gold);
          padding-top: 4px;
        }
      }
    }
  }

  &.issue-sheet {
    background: var(--color-cool-5-90);
    .window-content.scrollable {
      margin-right: 0 !important;
    }

    .detail-card {
      background: #1a1a1a;
      border: 1px solid #2a2a2a;
      border-radius: 4px;
      padding: 12px 15px 5px 15px;
      box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.05);
      min-height: 66px;

      .controls {
        display: flex;
        justify-content: end;
        margin: 5px;
        gap: 10px;

        button {
          width: auto;
          background: var(--accent-gold);
          color: #121212;
          font-size: 1rem;
          border: 1px solid #2a2a2a;
          border-radius: 4px;
          box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.05);
          transition: all 0.3s;
          text-wrap: nowrap;

          &:hover {
            background: #121212;
            color: var(--accent-gold);
          }
        }
      }

      prose-mirror {
        min-height: 75px;
      }

      >.flexrow {
        align-items: stretch;
      }

      .sidebar-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex: 0;
        margin-bottom: 5px;

        .comment-id {
          text-wrap: nowrap;
          font-size: var(--font-size-14);
          opacity: 0.3;
        }

        .control {
          font-size: var(--font-size-12);
          opacity: 0.5;
          transition: 0.3s opacity ease;

          &:hover {
            opacity: 1;
          }
        }
      }


      .detail-label {
        display: block;
        color: var(--accent-gold);
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: bold;

        .subtitle {
          font-weight: normal;
          height: var(--input-height);
          font-size: 0.8rem;
          opacity: 0.7;
          color: #cccccc;
        }

        i {
          font-size: 14px;
        }
      }

      input,
      select {
        background: var(--hud-black-01);
        font-size: 0.8rem;
        color: #cccccc;
      }

      select option {
        background-color: #333;
        color: #cccccc;
      }

      .value {
        height: var(--input-height);
        font-size: 0.8rem;
        color: #cccccc;
        display: flex;
        align-items: center;
      }


      .editor-content,
      .enrich-value {
        text-wrap: wrap;
        word-break: break-word;
      }

      .thumbnail {
        width: 50px;
      }
    }

    .body-part {
      display: flex;
      gap: 10px;

      .sidebar {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        flex: 0 0 20px;

        .submit-button {
          opacity: 0.5;
          background: #1a1a1a;
          border: 1px solid #2a2a2a;
          border-radius: 4px;
          box-shadow: inset 0 0 1px 1px var(--accent-gold);
          padding: 5px;
          font-size: 20px;
          width: 30px;
          transition: all 300ms;

          &:hover {
            transform: scale(1.1);
            opacity: 1;
          }
        }

        .icon-select-container {
          margin-bottom: 5px;
          position: relative;
          text-align: center;
          cursor: pointer;
          display: flex;
          padding: 5px 3px;
          gap: 3px;
          align-items: center;
          border: 1px solid var(--hud-white-01);
          border-radius: 4px;
          transition: 0.3s border ease;

          select {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
          }

          .issue-icon {
            pointer-events: none;
            transition: 0.3s opacity ease;
            font-size: 18px;
            width: 23px;
          }

          .chevron {
            font-size: 8px;
            opacity: 0.5;
            pointer-events: none;
          }

          &:hover {
            border: 1px solid var(--dnd5e-color-gold);
          }

        }

        .type-icon {
          font-size: 20px;
          margin-bottom: 5px;
        }

        .vote-controls {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;

          .score {
            font-size: 1.2rem;
            color: #fff;
          }

        }

      }

      .issue-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      .metadata-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
      }

      .description-section {
        background: #1a1a1a;
        border: 1px solid #2a2a2a;
        border-radius: 4px;
        padding: 12px 10px;

        overflow: auto;

        .section-title {
          font-family: Signika, sans-serif;
          color: var(--accent-gold);
          border-bottom: none;
          font-size: 1.4rem;
          margin-bottom: 0.5rem;
        }

        .description-content {
          min-height: 170px;
          color: #bbbbbb;
          font-size: 0.8rem;
          background: var(--hud-black-01);
          padding: 10px;
          border-radius: 4px;

          prose-mirror [data-action="image"],
          prose-mirror .source-code-edit {
            display: none;
          }
        }

      }

      .attachments-section {
        margin-top: 10px;

        .attachments-grid {
          background: var(--hud-black-01);
          border-radius: 4px;
          padding: 5px;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
          gap: 5px;
          margin-top: 10px;
          min-height: 50px;
        }

        .attachment-item {
          position: relative;
          aspect-ratio: 12 / 9;
          border-radius: 4px;
          overflow: hidden;
          border: 1px solid #333;
          background: #000;

          .attachment-thumb {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: transform 0.3s ease;
          }

          .attachment-overlay {
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            opacity: 0;
            transition: opacity 0.2s ease;
          }

          &:hover {
            .attachment-overlay {
              opacity: 1;
            }

            .attachment-thumb {
              transform: scale(1.1);
            }
          }

          .attachment-action {
            color: #fff;
            font-size: 1.2rem;
            opacity: 0.5;
            transition: 0.3s opacity;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .footer-part {
      .comments-section {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid var(--hud-white-01);
        gap: 10px;

        .new-comment-card {
          padding: 10px 5px;
          position: relative;

          prose-mirror {
            line-height: 1.6;
            color: #bbbbbb;
            font-size: 0.9rem;
            background: var(--hud-black-01);
            padding: 10px;
            border-radius: 4px;
          }

        }

        .comment prose-mirror.active {
            min-height: 150px;
        }
      }
    }

  }

  &.login-tracker {
    .window-content {
      overflow: hidden scroll;
      --color-scrollbar: var(--wow-panel-border);
    }

    .login-tracker-container {
      flex: 0 0 500px;

      .grid-title {
        margin-top: 0;
        font-family: beaufort, "beaufort Fallback";
        font-size: 30px;
        color: rgb(201, 170, 113);
        font-weight: 600;
        border-bottom: none;
        margin-bottom: 0;
      }

      .grid-header,
      .grid-row {
        text-align: center;
        grid-template-columns: repeat(4, 1fr) 50px;
      }

      .grid-header {
        flex: 0 0 auto;
        height: 2rem;
        margin-bottom: 0;
        font-weight: bold;
        font-size: var(--font-size-15);
        color: var(--accent-gold);

        .col-status {
          a {
            transition: all 0.3s ease;

            &:hover {
              font-weight: bold;
              transform: scale(1.1);
            }

          }
        }
      }

      .grid-body {
        --color-scrollbar: var(--wow-panel-border);
        max-height: 400px;
      }

      .grid-row {

        >div {
          margin: 5px 1px;
          padding: 0 5px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: inset 0 0 0 1px var(--hud-white-01);
          background: #1c1c1c;
          transition: background-color 0.3s ease;

          &:last-child {
            border-right: none;
          }
        }

        .col-last-login {
          .time-label {
            font-size: var(--font-size-12);
            color: var(--hud-white-05);
          }
        }

        .col-status {
          font-size: var(--font-size-20);
        }
      }
    }
  }
}

document-tags-v2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  margin: 0;

  >input {
    flex: 1;
  }

  >button {
    margin: -2px 0;
    padding: 0;
    flex: 0 0 36px !important;
    color: var(--t5e-secondary-color) !important;

    &:disabled {
      cursor: default !important;
      opacity: 0.5;
    }
  }
}